### Exercicios - Schemas

Criar o DataFrame names_us_sem_schema para ler os arquivos no HDFS “/user/<nome>/data/names”
names_us_sem_schema = spark.read.csv("/user/clayton/data/names/")

In [3]:
!hdfs dfs -tail /user/clayton/data/names/yob1880.txt

lieb,M,5
Gregorio,M,5
Gregory,M,5
Gustavus,M,5
Halsey,M,5
Handy,M,5
Hardie,M,5
Harl,M,5
Hayden,M,5
Hays,M,5
Hermon,M,5
Hershel,M,5
Holly,M,5
Hosteen,M,5
Hoyt,M,5
Hudson,M,5
Huey,M,5
Humphrey,M,5
Hunt,M,5
Hyrum,M,5
Irven,M,5
Isam,M,5
Ivy,M,5
Jabez,M,5
Jewel,M,5
Jodie,M,5
Judd,M,5
Julious,M,5
Justice,M,5
Katherine,M,5
Kelly,M,5
Kit,M,5
Knute,M,5
Lavern,M,5
Lawyer,M,5
Layton,M,5
Leonidas,M,5
Lewie,M,5
Lillie,M,5
Linwood,M,5
Loran,M,5
Lorin,M,5
Mace,M,5
Malcom,M,5
Manly,M,5
Manson,M,5
Matthias,M,5
Mattie,M,5
Merida,M,5
Miner,M,5
Montgomery,M,5
Moroni,M,5
Murdock,M,5
Myrtle,M,5
Nate,M,5
Nathanial,M,5
Nimrod,M,5
Nora,M,5
Norval,M,5
Nova,M,5
Orion,M,5
Orla,M,5
Orrie,M,5
Payton,M,5
Philo,M,5
Phineas,M,5
Presley,M,5
Ransom,M,5
Reece,M,5
Rene,M,5
Roswell,M,5
Rowland,M,5
Sampson,M,5
Samual,M,5
Santos,M,5
Schuyler,M,5
Sheppard,M,5
Spurgeon,M,5
Starling,M,5
Sylvanus,M,5
Theadore,M,5
Theophile,M,5
Tilmon,M,5
Tommy,M,5
Unknown,M,5
Vann,M,5
Wes,M,5
Winston,M,5
Wood,M,5
Woodie,M,5
Worthy,M,5
Wright,M,5
York,M,5
Zachariah,M,5

In [4]:
names_us_sem_schema = spark.read.csv("/user/clayton/data/names/")

2. Visualizar o Schema e os 5 primeiros registos do names_us_sem_schema

In [7]:
print(names_us_sem_schema.printSchema())
names_us_sem_schema.show(5)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

None
+--------+---+-----+
|     _c0|_c1|  _c2|
+--------+---+-----+
|    Emma|  F|18809|
|Isabella|  F|18612|
|   Emily|  F|17429|
|  Olivia|  F|17078|
|     Ava|  F|17035|
+--------+---+-----+
only showing top 5 rows

In [8]:
names_us_sem_schema

DataFrame[_c0: string, _c1: string, _c2: string]

3. Criar o DataFrame names_us para ler os arquivos no HDFS “/user/<nome>/data/names” com o seguinte schema:
    nome: String
    sexo: String
    quantidade: Inteiro

In [9]:
from pyspark.sql.types import

In [14]:
#criando a estrutura
#estrutura_lista = [
#    StructField("nome", StringType()),
#    StructField("sexo", StringType()),
#    StructField("quantidade", IntegerType())
#]

#schema_name = StructType(estrutura_lista)

#ou 
schema_name = StructType([
    StructField("nome", StringType()),
    StructField("sexo", StringType()),
    StructField("quantidade", IntegerType())
])

In [15]:
names_us = spark.read.csv("/user/clayton/data/names", schema=schema_name)

In [16]:
print(names_us.printSchema())
names_us.show(5)

root
 |-- nome: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- quantidade: integer (nullable = true)

None
+--------+----+----------+
|    nome|sexo|quantidade|
+--------+----+----------+
|    Emma|   F|     18809|
|Isabella|   F|     18612|
|   Emily|   F|     17429|
|  Olivia|   F|     17078|
|     Ava|   F|     17035|
+--------+----+----------+
only showing top 5 rows

5. Salvar o DataFrame names_us no formato orc no hdfs “/user/<nome>/names_us_orc”

In [17]:
names_us.write.orc("/user/clayton/names_us_orc")

In [18]:
!hdfs dfs -ls /user/clayton/names_us_orc

Found 6 items
-rw-r--r--   2 root supergroup          0 2022-04-06 15:07 /user/clayton/names_us_orc/_SUCCESS
-rw-r--r--   2 root supergroup    5373395 2022-04-06 15:07 /user/clayton/names_us_orc/part-00000-e10738fe-57e8-447d-bcee-a28a32f979a9-c000.snappy.orc
-rw-r--r--   2 root supergroup    2889115 2022-04-06 15:07 /user/clayton/names_us_orc/part-00001-e10738fe-57e8-447d-bcee-a28a32f979a9-c000.snappy.orc
-rw-r--r--   2 root supergroup    1900448 2022-04-06 15:07 /user/clayton/names_us_orc/part-00002-e10738fe-57e8-447d-bcee-a28a32f979a9-c000.snappy.orc
-rw-r--r--   2 root supergroup    1026246 2022-04-06 15:07 /user/clayton/names_us_orc/part-00003-e10738fe-57e8-447d-bcee-a28a32f979a9-c000.snappy.orc
-rw-r--r--   2 root supergroup     101254 2022-04-06 15:07 /user/clayton/names_us_orc/part-00004-e10738fe-57e8-447d-bcee-a28a32f979a9-c000.snappy.orc